#printToScreen, #hawaii, #sm, #gd, #lv, #ak, #at, #ba, #ta, #sb, #bo {
  display: none;
}
html{
  background-color: #b64f34
  text-align: center;
}
body {
  font-family: Sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: #f5fff3;
}

img {
  max-width: 275px;
  margin-left: 50%
}
.btn {
  margin-top: 20px;
}

.btn{
  background-color: #229000;
  color: white;
  border: none;
  margin-top: 15px;
}
